.sidebar-container {
  background-color: $color-primary;
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5rem;
    position: fixed;
    flex-wrap: wrap;

    &__img {
      width: 14rem;
      height: 14rem;
      border-radius: 50%;
    }

    &__title {
      margin-top: 1rem;
      text-align: center;

      &--name {
        font-size: 2.5rem;
        font-family: $font-secondary;
        font-weight: 700;
      }

      &--about {
        margin-top: 0.7rem;
        font-size: 1.2rem;
      }
    }

    &__nav {
      font-size: 1.5rem;
      margin-top: 2rem;
      padding: 1rem;
      text-align: center;

      &--item {
        list-style: none;

        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
    }

    &__link:link,
    &__link:visited {
      color: $color-black;
      font-size: inherit;
      font-family: $font-primary;
      font-weight: 400;
      text-decoration: none;
      text-transform: uppercase;
      display: block;
    }
  }
}
