h6 {
  font-family: $font-primary;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

h4 {
  font-family: $font-secondary;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
}

p {
  font-family: $font-primary;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.new-section-title {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 5rem;
}
